In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Regression Problem

In [6]:
df=pd.read_csv('housing.csv', delim_whitespace=True, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

## Make X and y variable

In [7]:
X=df.iloc[:,0:13]
y=df.iloc[:,13]

## make train-test split using sklearn and normal approach

In [8]:
a=int(len(df)*.80)
X_train,X_test=df.iloc[:a,:13],df.iloc[a:,:13]
y_train,y_test=df.iloc[:a,13],df.iloc[a:,13]

In [18]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

## build some basic model such linear regression, logistic regression, random forest and xgboost

## build k-fold variables using kfold and TimeSeriesSplit function
## do the cross validation using cross_val_score()

In [33]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

In [33]:
class model:
    def __init__(self,X_train,X_test,y_train,y_test,X,y):
        self.X_train=X_train
        self.X_test=X_test
        self.y_train=y_train
        self.y_test=y_test
        self.X=X
        self.y=y
        
    def train(self):
        model=LinearRegression()
        #.fit(self.X_train,self.y_train)
        return model
    
    def predict(self):
        model=LinearRegression().fit(self.X_train,self.y_train)
        y_new=model.predict(self.X_test)
        return y_new
    
    
    def evaluation(self):
        result=mean_squared_error(self.predict(),self.y_test)
        return result
    
    
    
    def validation(self):
        result=cross_val_score(self.train(),X,y,scoring='neg_mean_squared_error',cv=5)
        return result

In [34]:


a=model(X_train,X_test,y_train,y_test,X,y)

a.evaluation()

24.291119474973684

# Classification porblem

In [7]:
df1=pd.read_csv('pima-indians-diabetes.csv',header=None)
df1.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [20]:
X=df1.drop(8,axis=1)
y=df1.iloc[:,8]

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [37]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,recall_score,precision_score,f1_score

In [63]:
class classification:
    def __init__(self,X,y,X_train,X_test,y_train,y_test):
        self.X=X
        self.y=y
        self.X_train=X_train
        self.X_test=X_test
        self.y_train=y_train
        self.y_test=y_test
        
    def model(self):
        model=LogisticRegression()
        return model
    
    def predict(self):
        model=self.model().fit(self.X_train,self.y_train)
        y_new=model.predict(self.X_test)
        return y_new
    
    def validation(self):
        score=cross_val_score(self.model(),X,y,cv=3,scoring='accuracy')
        return score
    
    def report(self):
        a=classification_report(self.y_test,self.predict())
        b=confusion_matrix(self.y_test,self.predict())
        c=accuracy_score(self.y_test,self.predict())
        list=[a,b,c]
        return list

In [66]:
test=classification(X,y,X_train,X_test,y_train,y_test)

print(test.report()[0])

              precision    recall  f1-score   support

           0       0.82      0.81      0.81        99
           1       0.66      0.67      0.67        55

    accuracy                           0.76       154
   macro avg       0.74      0.74      0.74       154
weighted avg       0.76      0.76      0.76       154

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [67]:
df=pd.read_csv('realest.csv')
df.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [104]:
#df.isna().sum()

In [105]:
#df.dropna(inplace=True)
#df.dtypes

In [123]:
y=df['Price']
X=df.iloc[:,1:9]

model=LinearRegression().fit(X,y)
model.intercept_
model.coef_[7
           ]

1.8357953743202908

In [84]:
house_2=df['Tax'][(df['Bedroom']==2) | (df['Bedroom']==4)]

In [89]:
house_2.std()

441.04550716897614

In [91]:
statistics=[house_2.mean(),house_2.std(),
        house_2.median(),house_2.min(),house_2.max()]

In [92]:
statistics

[867.1636363636363, 441.04550716897614, 755.0, 418.0, 2711.0]

In [94]:
data_fram=df[df['Space']>800].sort_values(['Price'],ascending=False,ignore_index=True)

In [103]:
df['quant']=df['Lot'].quantile(0.80)

len(df[df['Lot']>=df['Lot'].quantile(0.80)])

26

In [129]:
Bedroom=3
Space=1500
Room=8
Lot=40
Tax=1000
Bathroom=2
Garage=1
Condition=0
data={'Bedroom':[3],'Space':[1500],'Room':[8],'Lot':[40],'Tax':[1000],'Bathroom':[2],'Garage':[1],'Condition':[0]}
predict_data=pd.DataFrame(data)

In [130]:
predict_data

   Bedroom  Space  Room  Lot   Tax  Bathroom  Garage  Condition
0        3   1500     8   40  1000         2       1          0

In [222]:
distr_table = pd.DataFrame({
    'X': [0, 0, 1, 1],
    'Y': [1, 2, 1, 2],
    'pr': [0.3, 0.25, 0.15, 0.3]
})

distr_table

   X  Y    pr
0  0  1  0.30
1  0  2  0.25
2  1  1  0.15
3  1  2  0.30

In [189]:
y=distr_table['pr'][distr_table['Y']==1].sum()
x=distr_table['pr'][distr_table['X']==1].sum()

In [190]:
joint=distr_table['pr'][(distr_table['X']==0) & (distr_table['Y']==1)].sum()

In [191]:
if joint==x*y:
    print('True') 
else: 
    print('False')

False

In [192]:
x=['True' if joint==x*y else'False']

In [193]:
x[0]

'False'

In [227]:
column_1 = distr_table["X"]
column_2 = distr_table["Y"]
correlation = column_1.corr(column_2)

In [228]:
print(correlation)

0.0